nav {
 background-image: "imagens/fundo.png";
}
#pobrs{
    text-align: center;
}
#corpoHome {
	
	text-align: center;
	color: black;
	background-image: url("imagens/back.jpg");
	background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
	font-family: "XPLOR Bold" , "Kristen ITC";
}
.cardapio{
	color: wheat;
	text-align: center;
}
body a{
	color: darkkhaki;
}
#caixas{
	margin-top: 15%;
	margin-left: 20%;
	margin-right: 20%;
}
#salvar{
	margin-left: 20%;
	margin-right: 20%;	
	text-align: left;
}